.header nav {
    float: right !important;
}

.featured-work-title {
  font-size: 20px;
  font-weight: bold !important;
}

.contacts .title {
  font-size: 18px !important;
}

.intro-pineapple {
  margin: 30px;
}

.main-slider .slider-content .slider-content-text {
  margin-bottom: 0px !important;
}

.slides-title {
  font-size: 20px !important;
}

.testimonial-heading {
  font-size: 36px;
}

.slides-item {
  cursor: pointer;
}

.slides-item:hover {
  background-color: #d3d3d3;
}

.case-item {
  cursor: pointer;
  height: 350px;
  padding: 8px;
}

.case-item p {
  width: 100%;
}

.contact-label {
  font-size: 18px !important;
}

.top-slide {
  height: 550px !important;
}

@media (max-width: 980px) {
  .slider-content-text {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .seo-slide, .marketing-slide, .conversion-slide, .ecommerce-slide {
    padding-top: 80px;
  }


  .header-spacer {
    height: 25px;
  }

  .top-slide {
    height: 600px !important;
  }

  .slider-content {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .slider-content-text, .slider-content-title {
    text-align: left;
  }


}

@media (max-width: 640px) {

  .case-item {
    height: 400px;
  }

  .top-slide {
    height: 500px !important;
  }

  .slider-image {
    width: 50%;
    margin-left: 25% !important;
  }

  .conversion-slide .slider-image {
    width: 80%;
    margin-left: 10% !important;
  }
}

@media (max-width: 375px) {

  .main-slider {
    padding-bottom: 0px;
  }

  .top-slide {
    height: 580px !important;
  }

  .main-slider-btn-wrap {
    margin-top: 50px !important;
  }

  .slider-image {
    display: none;
  }
}
